<form class="mb-10" action="search" method='post'>
  <input type="text" name="recipient_handle" value="" placeholder="@brand_handle">
  <input type="text" name="text" value="" placeholder="I really didn't like your shoes">
   <button type="submit">Search now</button>
</form>


<%= form_for(Feedback.new) do |f| %>
  <%= f.text_field :recipient_handle, placeholder: "@brand_handle" %>
  <%= f.text_field :text, placeholder: "I really didn't like your shoes" %>
  <%= f.submit 'Tweet' %>
<% end %>
